<h6>Issues</h6>


This page shows the following:
<ul>
    <li>
        List (Data Table) of All issues (public and private)
        with this information:
        <ul>
            <li>
                number
            </li>
            <li>
                Title
            </li>
            <li>
                public link if it is public
            </li>
            <li>
                Toggle button to make it public or private
            </li>
            <li>
                button to Show its articles
            </li>
            <li>
                button to Show its contributors
            </li>
        </ul>
    </li>
    <li>
        Ability to add / edit / delete an issue
    </li>
</ul>