<mat-toolbar class="mat-elevation-z3">
    <mat-toolbar-row>
        @if(!isLoginPage()) {
        <button mat-icon-button (click)="toggleSideNav()">
            <mat-icon>menu</mat-icon>
        </button>
        }


        <img class="logo col-span-1" src="acm_logo.png" alt="acm logo" width="40" height="40">
        <span class="toolbar-title col-span-11">{{ title }}</span>

        @if(!isLoginPage()) {
        <span class="spacer"></span>

        <div>
            <a href="#" mat-icon-button [matTooltip]="'Logout'">
                <mat-icon matButton>logout</mat-icon>
            </a>

            <a href="#" mat-icon-button>
                <mat-icon matButton [matTooltip]="'Your profile'">
                    person
                </mat-icon>
            </a>
        </div>
    }
    </mat-toolbar-row>
</mat-toolbar>