<app-toolbar />

<div class="h-full w-full flex items-center justify-center bg-gray-50">
    <div class="w-4/12">
        <h2 class="text-center text-3xl font-bold text-gray-900">Sign in to your account</h2>

        <p class="text-center text-red-500" *ngIf="!validSubmit">Email or password is not valid</p>

        <form class="mt-8 space-y-6 bg-white p-8 rounded-lg shadow-md" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="rounded-md shadow-sm space-y-4">
                <div>
                    <label for="email" class="block text-sm font-medium text-gray-700">Email address</label>
                    <input id="email" name="email" type="email" autocomplete="email" required formControlName="email"
                        class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-400 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm">
                </div>

                <div>
                    <div class="flex justify-between">
                        <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
                        <a href="#" class="text-sm text-indigo-600 hover:text-indigo-500">Forgot password?</a>
                    </div>
                    <input id="password" name="password" type="password" autocomplete="current-password" required
                        formControlName="password"
                        class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-400 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm">
                </div>
            </div>

            <div>
                <button type="submit"
                    class="group relative flex w-full justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Sign in
                </button>
            </div>
        </form>
    </div>
</div>