@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// Tailwind caused some issues with the previous design, so temporarily, I used it only here
#login-form {
    border: 1px solid black;
    height: auto;
    width: 25%;
    margin: 0 auto;
    border-radius: 10%;

}

.top {
    width: 100%;
    height: 6em;
    background-color: blue;
    margin: 0 auto;
    margin-bottom: 1em;
}

body {
    width: 100%;
    background-image: url('../../../../public/acm_logo.png');
}