
body,
html {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;

    --primary-color: #0368b8;
    --primary-color-light: #009cd5;
    --primary-color-dark: #1d4f91;
    --secondary-color: #b8bb34;
    --text-color: #525252;
}

